<ion-header>
  <ion-toolbar>
    <ion-title>Agregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <form [formGroup]="ProductoForm">
        <ion-item>
          <ion-label>Ingresar Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
          <ion-note *ngIf="ProductoForm.get('nombre').invalid && ProductoForm.get('nombre').errors
          && ProductoForm.get('nombre').touched && ProductoForm.get('nombre').errors.required"  slot="error">El campo es requerido</ion-note>
          <ion-note *ngIf="ProductoForm.get('nombre').invalid && ProductoForm.get('nombre').errors &&
          ProductoForm.get('nombre').touched && ProductoForm.get('nombre').errors.minlength" slot="error">El minimo es 3 caracteres</ion-note>
          <ion-note *ngIf="ProductoForm.get('nombre').invalid && ProductoForm.get('nombre').errors &&
          ProductoForm.get('nombre').touched && ProductoForm.get('nombre').errors.maxlength" slot="error">El maximo es 15 caracteres</ion-note>
          <br>
          <pre>{{ ProductoForm.get('nombre').errors | json}}</pre>
        </ion-item>
        <ion-item>
          <ion-label>ingresar Precio</ion-label>
          <ion-input formControlName="precio"></ion-input>
          <br>
          <pre>{{ ProductoForm.get('precio').errors | json}}</pre>
        </ion-item>
        <ion-item>
          <ion-label>ingresar Imagen</ion-label>
          <ion-input formControlName="imagen"></ion-input>
          <br>
          <pre>{{ ProductoForm.get('imagen').errors | json}}</pre>
        </ion-item>
        <ion-item>
          <ion-label>ingresar Stock</ion-label>
          <ion-input formControlName="stock"></ion-input>
          <br>
          <pre>{{ ProductoForm.get('stock').errors | json}}</pre>
        </ion-item>
        <ion-item>
          <ion-label>ingresar Detalle</ion-label>
          <pre><ion-input formControlName="detalle"></ion-input>
      <br>
      {{ ProductoForm.get('detalle').errors | json}}</pre>
        </ion-item>

      </form>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button >Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
